.box {
    width: 350px;
    height: 235px;
    border: thin black solid;
    background-color: rgb(112,48,48);
}

.message {
    margin: 10px 20px 10px 20px;
    border: thin black solid;
}

body {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
