<html>

<head>
    <title>Platform Design Madness</title>
    <link rel="icon" type="image/png" href="/assets/images/pdm-favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/flat-ui.css">
    <script type="text/javascript" src="/assets/javascript/util.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
</head>


<body>

    {% if logged_in %}
      <div class="navbar navbar-inverse">
          <div class="navbar-inner">
              <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
                  </button>
                  <a href="/" class="brand">platformy</a>
                  <div class="nav-collapse collapse" id="nav-collapse-03">

                    <form class="navbar-search form-search pull-right" action="/search/" method="get" align="center">

                      <div class="input-append">
                          <input type="text" class="search-query span2" placeholder="Search" id="search-bar" name="query">
                          <button type="submit" class="btn btn-large">
                              <i class="fui-search"></i>
                          </button>
                      </div>
                    </form>

                    <ul class="nav pull-right">
                      <li></li>
                      <li class="">
                        <a href="/game">
                          <span class="fui-home"></span><span class="hidden-desktop">{{username}}</span>
                        </a>
                      </li>
                      <li>
                        <a onclick="logout()">
                          <span class="fui-cross"></span><span class="hidden-desktop">Logout</span>
                        </a>
                      </li>
                    </ul>
                  </div><!--/.nav-collapse -->
              </div>
          </div>
      </div>
    {% else %}
      <div class="navbar navbar-inverse">
          <div class="navbar-inner">
              <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
                  </button>
                  <a href="/" class="brand">platformy</a>
                  <div class="nav-collapse collapse" id="nav-collapse-03">

                    <form class="navbar-search form-search pull-right" action="/search/" method="get" align="center">

                      <div class="input-append">
                          <input type="text" class="search-query span2" placeholder="Search" id="search-bar" name="query">
                          <button type="submit" class="btn btn-large">
                              <i class="fui-search"></i>
                          </button>
                      </div>
                    </form>
                  </div><!--/.nav-collapse -->
              </div>
          </div>
      </div>
    {% endif %}

    <p class="pdm-headline">platformy</p>

<center>
    <img src="/assets/images/Banner.png">
  </center>

    <p class="pdm-info" align="center">
        <b>What is <font color="#1abc9c">platformy</font>?</b>
        <br>
        <b><font color="#1abc9c">platformy</font></b> is an <b>editor</b> for <i>two-dimensional platform stages</i>.
        <br>
        Create 2D platform stages in the canvas editor and play them! 
        <br>
        You can save for later editing or playing, as well browse stages created by others.
    </p>

    {% if logged_in %}
      <center>
        <div class="signin" style="text-align:center">    
          <a href="/game" class="btn btn-large btn-block btn-primary btn-space">You are logged in, <b><font color="#f1c40f">{{username}}</font></b>. Go to your dashboard.</a>
          <br>
          <form action="{% url 'users:login' %}" method = "post">
            <button class="btn btn-large btn-block btn-danger" name="logout">Not <b><font color="#f1c40f">{{username}}</font></b>? Logout.</button>
          </form>
        </div>
      </center>
    {% else %}
      <div class="special-dialog demo-dialog">
        <div class="login-msg">
        {{message}}
        </div>
        <br>
        <form class="control-group" action="{% url 'users:login' %}" method = "post">
          {% csrf_token %}
          <input type="text" placeholder="Username" class="flat" name="username">
          <input type="password" placeholder="Password" class="flat" name="passwd">
          <button class="btn btn-primary btn-wide" name="login">Login</button>
          <button class="btn btn-danger btn-wide" name="adduser">Register</button>
        </form>
      </div>
    {% endif %}


    <!-- <div class="bottom-menu">
      <div class="container">
        <div class="row">
          <div class="span2 brand">
            <a href="#fakelink" class="brand">platformy</a>
          </div>

          <div class="span8">
            <ul class="bottom-links">
              <li><a href="#fakelink">About Us</a></li>
              <li><a href="#fakelink">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
</body>

</html>