html, body {
	margin: 30px;
	font-family: "Georgia", serif;
	line-height: 1.8em;
	background: #faf8ef;

	color: #776e65;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}

h1.title {
	font-size: 55px;
	font-weight: bold;
	margin: 0;
	display: block;
}

h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#editor-main {
	width: 1234px;
	height: 700px;
	margin: 50px 70px;
	text-align: center;
	position: relative;
}

#allrows {
	left: 0px;
	top: -62px;
	position: absolute;
}

#editor-canvas {
	width: 950px;
	height: 480px;
	margin: 20px auto 0 auto;
	background: #bbada0;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	position: relative;
}

#editor-palette {
	width: 400px;
	height: 120px;
	margin: 0 auto;
	background: #ffd;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#editor-dashboard {
	width: 400px;
	height: 120px;
	margin: 0 auto;
	background: #fca9f3;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#elements-start {
	float: left;
	width: 85px;
	height: 85px;
	border: 2px solid #333;
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	background: #faf8ef;
}

#elements-goal {
	float: left;
	width: 85px;
	height: 85px;
	border: 2px solid #333;
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	background: #faf8ef;
}

#elements-block {
	float: left;
	width: 85px;
	height: 85px;
	border: 2px solid #333;
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	background: #faf8ef;
}

.elements-slot {
	float: left;
	width: 85px;
	height: 85px;
	border: 2px solid #333;
	border-radius: 10px;
	margin: 15px 0 0 33px;
}

#savebutton {
  left: 20px;
  top: 40px;
}

#renderbutton {
  left: 150px;
  top: 40px;
}

#restartbutton {
  left: 290px;
  top: 40px;
}

.navbutton {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  position: absolute;
}

.canvas-row {
	position: relative;
	height: 90px;
	margin: 0px 0px 0px 215px;
}

.canvas-first-row {
	margin-top:80px;
}

.canvas-droppable {
	float: left;
	width: 85px;
	height: 85px;
	border: 2px solid #333;
	border-radius: 10px;
	background: #fff;
}

.canvas-droppable.hovered {
	background: : #aaa;
}

.elements.ui-draggable-dragging {
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
