html, body {
  font-family: "Georgia", serif;
  line-height: 1.8em;
  background-color: #ffffff;
  font-size: 18px;
  word-spacing:5px;
  color: #34495e;
  font-family: 'Lato', sans-serif;
}

.dashboard {
  width: 400px;
}

.delete-stage {
  width: 580px;
}

.tb-name {
  width: 200px;
}

.tb-rating {
  width: 30px;
}

.tb-owner {
  width: 200px;
}

.btn-space {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.login-msg {
  color: #e74c3c;
}

#info {
  font-size: 0.8em;
}

#rating {
  color: #FF0000;
}

.heart {
  color: #FF0000;
}

.user {
  color: #1abc9c;
}

.edit {
  color: #662D00;
}

.trash {
  color: #0D0401;
}

.edit-header {
  color: #FFC90D;
}

.cross-header {
  color: #A50CE8;
}

.search-results {
  border:2px solid;
  padding: 20px;
  border-color: #34495e;
}

.pdm-headline {
  color: #1abc9c;
  font-size: 80px !important;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0px;
  padding: 10px 0;
  text-align: center;
  word-wrap: break-word;
}

.pdm-headline-sad {
  color: #1abc9c;
  font-size: 70px !important;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0px;
  padding: 10px 0;
  text-align: center;
  word-wrap: break-word;
}

.title-headline {
  color: #662D00;
  font-size: 55px !important;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0px;
  padding: 10px 0;
  text-align: center;
  word-wrap: break-word;
}

.user-headline {
  color: #1abc9c;
  font-size: 18px !important;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0px;
  padding: 10px 0;
  text-align: center;
  word-wrap: break-word;
}

.highlight-green {
  color: #1abc9c;
}

.pdm-search-headline {
  color: #1abc9c;
  font-size: 40px !important;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 30px;
  padding: 40px 0;
  text-align: center;
  word-wrap: break-word;
}

h1.title {
  font-size: 30px;
  margin: 20px 0;
  font-weight: normal;
}

#editor-main {
  text-align: center;
}

#allrows {
  padding: 20px;
}

#editor-canvas {
}

#editor-palette {
}

#editor-dashboard {
}

#editor-controls {
  font-size: 14px;
  display: block;
  margin: 0 auto;
  min-width: 700px;
  max-width: 1000px;
  white-space: nowrap;
}

.editor-control {
}

#elements-start-slot, #elements-current-start {
  background-color: azure;
}

#elements-goal-slot, #elements-current-goal {
  background-color: aquamarine;
}

#elements-block-slot, #elements-current-block {
  background-color: sandybrown;
}

#elements-enemy-slot, #elements-current-enemy {
  background-color: tomato;
}

#play-button {
  display: block;
  margin: 5px auto;
}

.palette-slot {
  display: inline-block;
  width: 60px;
  font-size: 12px;
}

.palette-slot-current {
  margin-right: 40px;
}

.elements-slot {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  margin: 0 auto;
  box-sizing: border-box;
}

.elements-slot-clickable:hover {
  border-width: 3px;
}

.navbutton {
  color: white;
  font-weight: 200;
  margin: 20px;
  height: 40px;
  width: 80px;
  background-color: #333333;
  border-color: #222222;
  padding: 5px 8px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 4px;
  border-width: 1px;
}

.navbutton:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.canvas-row {
  line-height: 0;
  white-space: nowrap;
}

.canvas-droppable {
  max-width: 60px;
  max-height: 60px;
  border: 1px solid white;
  box-sizing: border-box;
  background: #555555;
  display: inline-block;
}

.canvas-droppable:hover {
  opacity: 0.7;
}

.placed-element-start {
  background-color: azure;
}

.placed-element-goal {
  background-color: aquamarine;
}

.placed-element-block {
  background-color: sandybrown;
}

.placed-element-enemy {
  background-color: tomato;
}

.canvas-first-col {
  border-left-width: 1px;
}

.canvas-first-row .canvas-droppable {
  border-top-width: 1px;
}

.canvas-droppable.hovered {
  background: #aaa;
}

.elements.ui-draggable-dragging {
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

center {
  margin: 20px auto;
}

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222222;
}

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222222;
  font-weight: bold;
}

.ui-dialog-titlebar {
  cursor: move;
  padding: .4em 1em;
  position: relative;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 0.65em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #555555;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

.validateTips {
  border: 1px solid transparent;
  padding: 0.3em;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.stage-name { 
  font-weight: bold; 
  display:inline-block; 
  width:170px; 
  white-space: nowrap;
  color: #1abc9c;
}

.signin {
 width: 270px;
 height: 45px;
}


.signin-submit {
  width: 750px;
}

/* CSS used from licensed/purchased FLATUI library -- LOGIN BUTTON*/
.btn.btn-primary {
  background-color: #1abc9c;
}

.btn.btn-large {
  font-size: 16.996px;
  /*line-height: 20px;*/
  padding: 12px 18px 13px;
}

.demo-buttons .btn, .demo-inputs .control-group {
  margin-bottom: 20px;
}

.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-weight: 500;
}

.btn-block {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-large {
  -moz-border-radius: 6px;
}

#search-bar {
  height: auto !important;
  line-height: 18px !important;
  padding: 8px 8px 7px !important;
}

.btn-new-stage {
  width: 300px;
  margin: 0 auto;
  top: 400px;
}

.btn-pikachu {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.profile-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.saved-stages {
  height: 320px;
  width: 370px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  float: left;
}

.recent-stages {
  width: 370px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  float:right;
}

.message {
  margin-top: 0.5em;
  font-size: 18px;
  font-weight: bold;
}

.stages {
  width:423px;
  height:310px;
  overflow: auto;
}

div.navbar-inner, div.navbar-inner form {
  height: 55px !important;
  overflow: hidden;
}

#gameOver {
  display:none;
}

.btn-transparent {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-shadow: inherit;
}

.btn-transparent-vote-up {
  background: none;
  border: none;
  color: inherit;
  /*font: inherit;*/
  text-shadow: inherit;
  font-size: 45px;
  color: #1abc9c;
}

.btn-transparent-vote-down {
  background: none;
  border: none;
  color: inherit;
  /*font: inherit;*/
  text-shadow: inherit;
  font-size: 45px;
  color: #FF0000;
}