html, body {
  font-family: "Georgia", serif;
  line-height: 1.8em;
  background: #faf8ef;

  color: #333333;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

h1.title {
  font-size: 55px;
  font-weight: bold;
  margin: 20px 0;
  display: block;
}

h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#editor-main {
  text-align: center;
}

#allrows {
  padding: 20px;
}

#editor-canvas {
}

#editor-palette {
}

#editor-dashboard {
}

#editor-controls {
  display: block;
  margin: 0 auto;
  min-width: 700px;
  max-width: 1000px;
  white-space: nowrap;
}

.editor-control {
  display: inline-block;
}

#elements-start-slot {
  background-color: azure;
}

#elements-goal-slot {
  background-color: aquamarine;
}

#elements-block-slot {
  background-color: sandybrown;
}

#play-button {
  display: block;
  margin: 5px auto;
}

.elements-slot {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #333;
}

.navbutton {
}

.canvas-row {
  line-height: 0;
}

.canvas-droppable {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  background: #555555;
  display: inline-block;
}

.placed-element-start {
  background-color: azure;
}

.placed-element-goal {
  background-color: aquamarine;
}

.placed-element-block {
  background-color: sandybrown;
}

.canvas-first-col {
  border-left-width: 1px;
}

.canvas-first-row .canvas-droppable {
  border-top-width: 1px;
}

.canvas-droppable.hovered {
  background: #aaa;
}

.elements.ui-draggable-dragging {
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
