<html>
<head>

    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

</head>
<body>
	<center>
	<b> {{ message }} </b><br>
	{% if form %}
	<form action="{% url 'users:login' %}" method = "post">
		{% csrf_token %}
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="passwd"><br>
		<input type="submit" name="login" value="Log In">
		<input type="submit" name="adduser" value="Add User">
	</form>
	{% else %}
	<a href="{% url 'game:get_stage' %}">Play a saved stage</a>
	<form action="{% url 'users:login' %}" method = "post">
		<input type="submit" name="logout" value="Log Out">
	</form>
	{% endif %}
</body>
</html>
