{% extends "base.html" %}

{% block primary %}

<p class="pdm-search-headline">Search results for '{{query}}':</p>

<div class="container">
  <div class="demo-row">
    <div class="demo-title">
      <h4>User Results:</h4>
    </div>
    <div class="demo-content demo-content-article">
      {% if user_exists == "true" %}
        <div class="search-results">
          <h6><b>1 user named '{{query}}' found</b></h6> <br>
          <b>username:</b> {{username}} <br><br>
          <b>Found user has created {{user_stagecount}} stage(s)</b> <br><br>
            {% for stage in user_stages %}
              <span class="stage-name">{{stage.name}}</span>
              <span class="fui-play"></span>
              <a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">Play</a>
              <br><br>
            {% endfor %}
        </div>
      {% else %}
        0 users found
      {% endif %}
    </div>
  </div>
  <div class="demo-row">
    <div class="demo-title">
      <h4>Stage Results:</h4>
    </div>
    <div class="demo-content demo-content-article">
      {% if stages_exists = "true" %}
        <div class="search-results">
          <h6><b>{{ stages_stagecount }} stage(s) named '{{query}}' found</b></h6> <br>
          {% for stage in stages_stages %}
            <span class="stage-name">{{stage.name}}</span>
            <span class="fui-play"></span>
            <a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">Play</a>
            &nbsp; &nbsp; &nbsp; 
            <span class="fui-user"></span>
            <a href="/profile/?user={{stage.owner}}">{{stage.owner}}</a>
            <br>
          {% endfor %}
        </div>
      {% else %}
        0 stages found
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
