{% extends "base.html" %}

{% block primary %}

<p class="pdm-search-headline">Search results for '{{query}}':</p>

<div class="container">
  <div class="demo-row">
    <div class="demo-title">
      <h4>User Results:</h4>
    </div>
    <div class="demo-content demo-content-article">
      {% if user_exists == "true" %}
        <div class="search-results">
          <h6><b>1 user named '{{query}}' found</b></h6> <br>
          <b>username:</b> {{username}} <br><br>
          <b>Found user has created {{user_stagecount}} stage(s)</b> <br><br>
<div class="demo-content-wide">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><span class="fui-heart heart"></span></th>
                <th>Stage</th>
            </tr>
        </thead>
        <tbody>
            {% for stage in user_stages %}
                <tr>
                    <td class="tb-rating">{{stage.rating}}</td>
                    <td class="tb-name"><a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">{{stage.name}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>        </div>
      {% else %}
        0 users named '{{query}}' found
      {% endif %}
    </div>
  </div>
  <br>
  <div class="demo-row">
    <div class="demo-title">
      <h4>Stage Results:</h4>
    </div>
    <div class="demo-content demo-content-article">
      {% if stages_exists = "true" %}
        <div class="search-results">
          <h6><b>{{ stages_stagecount }} stage(s) matching '{{query}}' found</b></h6> <br>
<div class="demo-content-wide">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><span class="fui-heart heart"></span></th>
                <th>Stage</th>
                <th><span class="fui-user"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for stage in stages_stages %}
                <tr>
                    <td class="tb-rating">{{stage.rating}}</td>
                    <td class="tb-name"><a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">{{stage.name}}</a></td>
                    <th><a href="/profile/?user={{stage.owner}}">{{stage.owner}}</a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        </div>
      {% else %}
        0 stages found
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
