{% extends "base.html" %}

{% block head %}

  <script type="text/javascript" src="/assets/javascript/canvas-engine.js"></script>
  <script type="text/javascript">
      $(function() {
          init_canvas();
          {% autoescape off %}
          {% if data %}load_stage('{{data}}');
          {% elif error %}alert("{{error}}");{% endif %}
          {% endautoescape %}
      });
  </script>

{% endblock %}

{% block primary %}
  <div id="editor-main">
    <h1 class="title">Stage Editor</h1>
    
    <div id="editor-canvas">
      <div id="allrows"></div>
    </div>
    
    <div id="editor-controls">

      <b>Click on a block to set the kind of block you wish to put, then click on the stage to put it down. Click again to remove.</b>
      <br><br>
      <div id="editor-name" class="editor-control">
        <div id="stagename-dialog-form" class="modal hide fade" role="dialog" aria-labelledby="nameStage" aria-hidden="true">
          <div class="modal-header"><h3>Name your stage</h3></div>
          <div class="modal-body">
            <form>
              <fieldset>
                <label for="stagename">Stage Name</label>
                <input type="text" name="stagename" id="stagename" class="text ui-widget-content ui-corner-all">
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="setName">Submit</a>
          </div>
        </div>

      </div>

      <div id="resizeModal" class="modal hide fade" role="dialog" aria-labelledby="setDimensions" aria-hidden="true">
        <div id="modal-dialog">
          <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">x</a>
            <h3>Set dimensions</h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-info">
              <a href="#" class="close" data-dismiss="alert">x</a>
              Set the width and height dimensions of the playing field.
            </div>
            <form>
              <fieldset>
                  <label for="width">Width</label>
                  <input type="number" name="width" id="width" class="text ui-widget-content ui-corner-all">
                  <label for="height">Height</label>
                  <input type="number" name="height" id="height" value="" class="text ui-widget-content ui-corner-all">
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="resize">Resize</a>
            <a href="#" class="btn btn-alert" data-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>

      <div id="editor-palette" class="editor-control">
        <div class="palette-slot palette-slot-current">
          <div class="element-type">Current</div>
          <div id="elements-current-block" class="elements-slot elements-slot-current"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Start</div>
          <div id="elements-start-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Goal</div>
          <div id="elements-goal-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Block</div>
          <div id="elements-block-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Enemy</div>
          <div id="elements-enemy-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
      </div>
    
      <div id="editor-dashboard" class="editor-control">
        <!-- <button id="savebutton" class="navbutton" type="button">Save</button> -->
        <button id="renderbutton"class="navbutton" type="button">Play</button>
        <button id="resizebutton" class="navbutton" data-toggle="modal" data-target="#resizeModal">Resize</button>
        <button id="restartbutton" class="navbutton" type="button">Clear</button>
      </div>

    </div>
  </div>

{% endblock %}
