<!doctype html>
<html lang="en">

<head>
  <title>Platform Design Madness</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/flat-ui.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/canvas-engine.js"></script>
  <script type="text/javascript" src="/assets/javascript/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/util.js"></script>

  <script type="text/javascript">
  // ALERT: Don't move this code to an external js!
    function load_page() {
      init_canvas();
      {% autoescape off %}
      {% if data %}load_stage('{{data}}');
      {% elif error %}alert("{{error}}");{% endif %}
      {% endautoescape %}
    }
  </script>

</head>

<body onload="load_page()">
  <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
                </button>
                <a href="/" class="brand">PDM</a>
                <div class="nav-collapse collapse" id="nav-collapse-03">
                  <form class="navbar-search form-search pull-right" action="" align="center">
                    <div class="input-append">
                        <input type="text" class="search-query span2" placeholder="Search" id="search-bar">
                        <button type="submit" class="btn btn-large">
                            <i class="fui-search"></i>
                        </button>
                    </div>
                  </form>

                  <ul class="nav pull-right">
                    <li class="">
                      <a href="/game">
                        <span class="fui-home"></span><span class="hidden-desktop">Home</span>
                      </a>
                    </li>
                    <li>
                      <a onclick="logout()">
                        <span class="fui-cross"></span><span class="hidden-desktop">Logout</span>
                      </a>
                    </li>
                  </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
  <div id="editor-main">
    <h1 class="title">Stage Editor</h1>
    
    <div id="editor-canvas">
      <div id="allrows"></div>
    </div>
    
    <div id="editor-controls">

      Click on a block to set the kind of block you wish to put, then click on the stage to put it down. Click again to remove.

      <div id="editor-name" class="editor-control">
        <div id="stagename-dialog-form" class="modal hide fade" role="dialog" aria-labelledby="nameStage" aria-hidden="true">
          <div class="modal-header"><h3>Name your stage</h3></div>
          <div class="modal-body">
            <form>
              <fieldset>
                <label for="stagename">Stage Name</label>
                <input type="text" name="stagename" id="stagename" class="text ui-widget-content ui-corner-all">
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="setName">Submit</a>
          </div>
        </div>

      </div>

      <div id="resizeModal" class="modal hide fade" role="dialog" aria-labelledby="setDimensions" aria-hidden="true">
        <div id="modal-dialog">
          <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">x</a>
            <h3>Set dimensions</h3>
          </div>
          <div class="modal-body">
            <div class="alert alert-info">
              <a href="#" class="close" data-dismiss="alert">x</a>
              Set the width and height dimensions of the playing field.
            </div>
            <form>
              <fieldset>
                  <label for="width">Width</label>
                  <input type="number" name="width" id="width" class="text ui-widget-content ui-corner-all">
                  <label for="height">Height</label>
                  <input type="number" name="height" id="height" value="" class="text ui-widget-content ui-corner-all">
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="resize">Resize</a>
            <a href="#" class="btn btn-alert" data-dismiss="modal">Cancel</a>
          </div>
        </div>
      </div>

      <div id="editor-palette" class="editor-control">
        <div class="palette-slot palette-slot-current">
          <div class="element-type">Current</div>
          <div id="elements-current-block" class="elements-slot elements-slot-current"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Start</div>
          <div id="elements-start-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Goal</div>
          <div id="elements-goal-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
        <div class="palette-slot">
          <div class="element-type">Block</div>
          <div id="elements-block-slot" class="elements-slot elements-slot-clickable"></div>
        </div>
      </div>
    
      <div id="editor-dashboard" class="editor-control">
        <!-- <button id="savebutton" class="navbutton" type="button">Save</button> -->
        <button id="renderbutton"class="navbutton" type="button">Play</button>
        <button id="resizebutton" class="navbutton" data-toggle="modal" data-target="#resizeModal">Resize</button>
        <button id="restartbutton" class="navbutton" type="button">Clear</button>
      </div>

    </div>
  </div>
</body>

</html>
