{% extends "base.html" %}

{% block head %}

    <script type="text/javascript" src="/assets/javascript/rating-engine.js"></script>
    <!-- When releasing to public, un-comment the following code for the full quintus instead of production version
    <script type="text/javascript" src="http://cdn.html5quintus.com/v0.2.0/quintus-all.js"></script>  -->
    <script type="text/javascript" src="http://cdn.html5quintus.com/v0.2.0/quintus-all.min.js"></script>
    <style>
        #quintus_container { outline: #000000 solid 3px; }
    </style>

{% endblock %}

{% block primary %}

    {% if stageid %}
        <center>
            <p class="title-headline">{{name}}</p>
            <p class="user-headline"> <span class="fui-user"></span>
                <a href="/profile/?user={{owner}}">{{owner}}</a>
            </p>


            <div id="rating"><span class="fui-heart"></span> {{rating}}</div>
        </center>

        <script type="text/javascript" src="{% url 'game:load_stage' stageid %}"></script>

        <center>
            <button onclick="castVote('up', {{stageid}})" id="upvote" class="btn-transparent-vote-up" type="button">
                <i class="fui-triangle-up"></i>
            </button>
            
            <button onclick="castVote('down', {{stageid}})" id="downvote" class="btn-transparent-vote-down" type="button">
                <i class="fui-triangle-down"></i>
            </button>
        </center>

        <center id="gameOver">
            <h3 id="gameOverMessage"></h3>
            <button onclick="restartStage()" class="btn btn-success previous" type="button">
                <span class="fui-replay"></span>
                play again
            </button>
        </center>

        {% if correct_owner %}
        <center>
            <a href="{% url 'stage:editor' %}?stageid={{stageid}}" class="btn btn-warning next">
                edit
                <i class="fui-new"></i>
              </a>
        </center>
        {% endif %}
    {% else %}
        <p>Default Game Stage</p>
        <script type="text/javascript" src="{% url 'game:load_stage' 0 %}"></script>
    {% endif %}
    <center>
        <a href="{% url 'game:get_stage' %}" class="btn btn-info previous">
                <i class="fui-arrow-left"></i>
                my stages
              </a>
    </center>

{% endblock %}
