{% extends "base.html" %}

{% block primary %}

{% if logged_in %}
    <p class="pdm-headline">Welcome, {{username}}!</p>
{% else %}
<p class="pdm-headline-sad">sad pikachu is sad</p>
    <br> <br>
    <center>
        <img src="../assets/images/pikachu.png">
        <br>
        <div class="btn-pikachu">
        <a href="{% url 'users:login' %}" class="btn btn-huge btn-block btn-primary">LOG IN!</a>
        </div>
    </center>
{% endif %}

<div class="profile-content">
    {% if logged_in %}
    <div class="saved-stages alert alert-info">
        <div class="stages">
        <div class="demo-content-wide">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><span class="fui-heart heart"></span></th>
                <th>Name</th>
                <th><span class="fui-new edit-header"></span></th>
                <th><span class="fui-cross cross-header"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for stage in stages %}
                <tr>
                    <td class="tb-rating">{{stage.rating}}</td>
                    <td class="tb-name"><a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">{{stage.name}}</a></td>
                    <th><a href="{% url 'stage:editor' %}?stageid={{stage.pk}}"><span class="fui-new edit"></span></a></th>
                    <th><span class="fui-cross"></span></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        </div>
    </div>

    <div class="recent-stages alert alert-info">
<div class="demo-content-wide">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><span class="fui-heart heart"></span></th>
                <th>Name</th>
                <th><span class="fui-user user"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for stage in recentstages %}
                <tr>
                    <td class="tb-rating">{{stage.rating}}</td>
                    <td class="tb-name"><a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">{{stage.name}}</a></td>
                    <td class="tb-owner"><a href="/profile/?user={{stage.owner}}"><font color="#f1c40f">{{stage.owner}}</font></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
        </div>
    </div>

    <div class="btn-new-stage">
        <a href="/stage/editor" class="btn btn-huge btn-block btn-primary">BUILD NEW STAGE</a>
    </div>
    {% else %}
    {% endif %}
    
<!-- {% if logged_in %}
<div class="demo-content-wide">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><span class="fui-heart heart"></span></th>
                <th>Name</th>
                <th><span class="fui-new edit-header"></span></th>
                <th><span class="fui-cross cross-header"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for stage in recentstages %}
                <tr>
                    <td class="tb-rating">{{stage.rating}}</td>
                    <td class="tb-name"><a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">{{stage.name}}</a></td>
                    <th><a href="{% url 'stage:editor' %}?stageid={{stage.pk}}"><span class="fui-new edit"></span></a></th>
                    <th><span class="fui-cross"></span></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
{% endif %} -->

</div>

{% endblock %}
