{% extends "base.html" %}

{% block primary %}

{% if logged_in %}
    <p class="pdm-headline">Welcome, {{username}}!</p>
{% else %}
<p class="pdm-headline-sad">sad pikachu is sad</p>
    <br> <br>
    <center>
        <img src="../assets/images/pikachu.png">
        <br>
        <div class="btn-pikachu">
        <a href="{% url 'users:login' %}" class="btn btn-huge btn-block btn-primary">LOG IN!</a>
        </div>
    </center>
{% endif %}

<div class="profile-content">
    {% if logged_in %}
    <div class="saved-stages alert alert-info">
        <div>
            <span class="stage-name">Default Stage</span>
            <span class="fui-play"></span>
            <a href="{% url 'game:play_game' %}">Play</a>
        </div>
        <div class="message">{{ message }}</div>
        <div class="stages">
        {% for stage in stages %}
            <span class="stage-name">{{stage.name}}</span>
            <span class="fui-play"></span>
            <a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">Play</a>
            &nbsp; &nbsp; &nbsp; 
            <span class="fui-new edit"></span>
            <a href="{% url 'stage:editor' %}?stageid={{stage.pk}}">Edit</a>
            <span class="fui-trash"></span>
            <a href="{% url 'stage:editor' %}?stageid={{stage.pk}}"></a>
            <br>
        {% endfor %}
        </div>
    </div>

    <div class="recent-stages alert alert-info">
        <div class="message">Recently Created Stages</div>
            {% for stage in recentstages %}
                <span class="stage-name">{{stage.name}}</span>
                <span class="fui-play"></span>
                <a href="{% url 'game:play_game' %}?stageid={{stage.pk}}">Play</a>
                &nbsp; &nbsp; &nbsp; 
                <span class="fui-user user"></span>
                <a href="/profile/?user={{stage.owner}}">{{stage.owner}}</a>
                <span class="fui-heart heart"></span>
                {{stage.rating}}
                <br>
            {% endfor %}
        </div>
    </div>

    <div class="btn-new-stage">
        <a href="/stage/editor" class="btn btn-huge btn-block btn-primary">BUILD NEW STAGE</a>
    </div>
    {% else %}
    {% endif %}

</div>

{% endblock %}
